.worlde-alert {
  position: absolute;
  top: 90px;

  background-color: var(--primary-color);
  color: var(--base-font-color);

  display: none;
  padding: 10px;
  font-weight: bold;
  font-size: 110%;
}
