body {
  margin: 0 auto;
}

.main-container {
  background-color: var(--background-color);
}

:root {
  --background-color: #ffffff;
  --primary-color: #d3d7da;
  --accent-color: #818384;

  --base-font-color: #000000;
  --guessed-font-color: #ffffff;

  --guessed-color: #68ac61;
  --almost-guessed-color: #cbb550;
  --incorrect: #5e5e5e;

  --dialog-background: #ffffff;

  --icons-background: #d3d7da;
  --icons-color: #3a3a3c;

  --tutorial-background: #d9d9d9;
  --tutorial-tile: #5e5e5e;
  --tutorial-description: #a4a4a4;
}

.darkmode {
  --background-color: #121213;
  --primary-color: #3a3a3c;
  --accent-color: #818384;

  --base-font-color: #ffffff;
  --guessed-font-color: #ffffff;

  --dialog-background: #242424;

  --icons-background: #3a3a3c;
  --icons-color: #ffffff;

  --tutorial-background: #242424;
  --tutorial-tile: #5e5e5e;
  --tutorial-description: #a4a4a4;
}

.contrast {
  --guessed-color: #3f94e9;
  --almost-guessed-color: #f17e2d;
}

.wordle-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  cursor: pointer;
}
