.switch {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  outline: none;
  background-color: var(--primary-color);
  transition: ease-in-out 0.3s;
}

.switch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  transition: left 0.3s;
}

.switch:checked {
  background-color: var(--guessed-color);
}

.switch:checked::after {
  left: 70%;
}
