.wordle-button {
  min-width: min-content;
  height: 45px;

  background-color: var(--primary-color);
  color: var(--base-font-color);

  border-radius: 10px;

  font-size: 1.2em;
  text-transform: uppercase;
}

.wordle-button:hover {
  background-color: var(--accent-color);
}

.wordle-button:active {
  transform: scale(0.9);
}

.wordle-button-special {
  width: 14%;
  min-width: min-content;
  height: 45px;
  font-size: 1em;
}
